<div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h2 mat-dialog-title>Add user</h2>
    <mat-dialog-content>
        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>First name</mat-label>
                <input  [disabled]="loading"[(ngModel)]="user.firstName" ngDefaultControl matInput placeholder="First name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>last name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.lastName" ngDefaultControl matInput placeholder="last name">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="Full-width" color="accent">
                <mat-label>date of issue</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.birtDate" ngDefaultControl matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
        </div>

        
        <div>
            <mat-form-field class="Full-width" color="accent">
                <mat-label>E-Mail</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.email" ngDefaultControl matInput placeholder="E-Mail">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="Full-width" appearance="outline">
                <mat-label>Street + House No.</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.street" ngDefaultControl matInput placeholder="Street + House No.">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Zip code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.zipCode" ngDefaultControl matInput placeholder="Zip code">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" ngDefaultControl matInput placeholder="City">
            </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="">Cancel</button>
        <button mat-button (click)="save()" [mat-dialog-close]="" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</div>