<h1>Halle-1</h1>
<div class="positionGroups">
    <div class="turn">
        <h2>CNC-Gruppe 1</h2>
        <div class="positionGroup1">
            <div class="cnc">
                Index C 300
            </div>
            <div class="cnc">
                Index C 300
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Index C 100
            </div>
            <div class="cnc">
                Index C 100
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Index C 100
            </div>
            <div class="cnc">
                Index C 100
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Index C 100
            </div>
            <div class="cnc">
                Index C 100
            </div>
        </div>
    </div>


    <div class="turn">
        <h2>CNC-Gruppe 2</h2>
        <div class="positionGroup1">
            <div class="cnc">
                multiswiss
            </div>
            <div class="cnc">
                multiswiss
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                multiswiss
            </div>
            <div class="cnc">
                multiswiss
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                multiswiss
            </div>
            <div class="cnc">
                multiswiss
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                multiswiss
            </div>
            <div class="cnc">
                multiswiss
            </div>
        </div>
    </div>

    <div class="turn">
        <h2>CNC-Gruppe 3</h2>
        <div class="positionGroup1">
            <div class="cnc">
                Star a 100
            </div>
            <div class="cnc">
                Star a 100
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Star b 100
            </div>
            <div class="cnc">
                Star b 100
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Star b 100
            </div>
            <div class="cnc">
                Star b 100
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Star b 100
            </div>
            <div class="cnc">
                Star b 100
            </div>
        </div>
    </div>
    <div class="dpf">
        <div class="cnchall">
            <img src="assets/img/sport-1815798_1280.jpg" alt="">
            <h2>Meister Halle-1</h2>
            <p>
                Name: Nokia Meng<br>
                Zuständig: Halle-1<br>
                Dienstnummer:003444<br>
                Mail: Nokia&#64;schulster.de<br>
            </p>
        </div>
        <div class="Text">
            <p>
                Hierbei handelt es sich um den Aufbau der halle in Vogel Perspektive so wie die Namen der Maschine und
                ihre Gruppen aufteilung
            </p>
        </div>
    </div>
</div>