<div>
    <h2 mat-dialog-title>Eddit user</h2>
    <mat-dialog-content>
        <div class="paddintTop">
            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Street + House No.</mat-label>
                    <input [(ngModel)]="user.street" ngDefaultControl matInput placeholder="Street + House No.">
                </mat-form-field>

                <mat-form-field class="mr-16" appearance="outline">
                    <mat-label>Zip code</mat-label>
                    <input [(ngModel)]="user.zipCode" ngDefaultControl matInput placeholder="Zip code">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input [(ngModel)]="user.city" ngDefaultControl matInput placeholder="City">
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>workPlace</mat-label>
                    <input [(ngModel)]="user.workPlace" ngDefaultControl matInput placeholder="City">
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>salary</mat-label>
                    <input [(ngModel)]="user.salaryYear" ngDefaultControl matInput placeholder="City">
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>position</mat-label>
                    <input [(ngModel)]="user.position" ngDefaultControl matInput placeholder="City">
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="">Cancel</button>
        <button mat-button (click)="save()" [mat-dialog-close]="" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</div>