<div class="center">
    <h1>This is a Map of the Company</h1>
        <div class="Leaders"  [routerLink]="['/leaders']">
            <img src="assets/img/man-8111987_640.png" alt="">
            <p>Click to see <b>Leading</b> Section</p>
        </div>
    <div class="centerOffice">
        <div class="office" [routerLink]="['/office1']">
            <img src="assets/img/ceo-3633570_640.png" alt="">
            <p>Click to see <b>Office-1</b> Section</p>
        </div>
        <div class="office" [routerLink]="['/office2']">
            <img src="assets/img/ceo-3637288_640.png" alt="">
            <p>Click to see <b>Office-2</b> Section</p>
        </div>
    </div>
    <div class="centerHall">
        <div class="cnchall" [routerLink]="['/hall1']">
            <img src="assets/img/factory-148098_640.png" alt="">
            <p>Click to see <b>CNC-Hall-1</b> Section</p>
        </div>
        <div class="cnchall" [routerLink]="['/hall2']">
            <img src="assets/img/factory-42708_640.png" alt="">
            <p>Click to see <b>CNC-Hall-2</b> Section</p>
        </div>
        <div class="cnchall" [routerLink]="['/hall3']">
            <img src="assets/img/factory-154904_640.png" alt="">
            <p>Click to see <b>CNC-Hall-3</b> Section</p>
        </div>
    </div>
    <div class="MaterialCamp" [routerLink]="['/material']">
        <img src="assets/img/steel-576434_1280.png" alt="">
        <p>Click to see <b>Material-Camp</b> Section</p>
    </div>

</div>