<h1>Office 1</h1>
<div class="bigPosition">
    <div>
        <div class="leading">
            <div class="büro3">

                <b> Finanz und Managment</b>

            </div>
            <div class="büro1">
                <p>
                    <b> Entwicklung und Marketing</b>
                </p>
            </div>
        </div>
        <div class="büro2">
            <p>
                <b> Mitarbeiter und Office </b>
            </p>
        </div>

    </div>

    <div class="position">

        <div class="cnchall">
            <img src="assets/img/business-man-1125324_640.jpg" alt="">
            <h2>Entwicklungs Manager</h2>
            <p>
                Name: Donau von Eschingen<br>
                Zuständig: Entwicklung und Mitarbeiter<br>
                Dienstnummer:004675688<br>
                Mail: Donau&#64;schulster.de<br>
            </p>
        </div>




        <div class="cnchall">
            <img src="assets/img/model-2911332_640.jpg" alt="">
            <h2>Finanz Manager</h2>
            <p>
                Name: Kame Tam<br>
                Zuständig: Finanzen und Managment<br>
                Dienstnummer:003467888<br>
                Mail: Kame&#64;schulster.de<br>
            </p>
        </div>

    </div>
</div>