<div class="center">
    <h1><b>Leading</b></h1>
    <div class="position">
        <div class="Leaders">
            <div><img src="assets/img/mentor-2494673_640.jpg" alt=""></div>
            <div>
                <h2>CEO</h2>
                <p>
                    Name: Dr.Harberg Schulster<br>
                    Intern erreichbar: intern&#64;schulster.de<br>
                    <br>
                    Gründer und Unternehmer von Schulster GmbH.<br>
                    Falls es intern fragen gibt bitte wenden sie sich an <br>
                    meine Sekretärin <b>Frau Leidig</b>
                </p>
            </div>
        </div>
        <div class="secretary">
            <div><img src="assets/img/business-woman-2756210_640.jpg" alt=""></div>
            <div>
                <h2>Secratary</h2>
                <p>
                    Name: Frau Sabine Leidig<br>
                    Intern erreichbar: intern&#64;schulster.de<br>
                    Intern Nummer: 00467878<br>
                    <br>
                    Berater und planer von Dr.Harberg Schulster<br>
                </p>
            </div>
        </div>
    </div>
    <div class="centerHall">
        <div class="cnchall">
            <img src="assets/img/man-6807759_640.jpg" alt="">
            <h2>CTO</h2>
            <p>
                Name: Fernandez Gustafo<br>
                Zuständig: Entwicklung und Marketing<br>
                Dienstnummer:00467988<br>
                Mail: Fernandez&#64;schulster.de<br>
            </p>
        </div>
        <div class="cnchall">
            <img src="assets/img/businessman-5791566_640.jpg" alt="">
            <h2>COO</h2>
            <p>
                Name: Wallter Steinmeier<br>
                Zuständig: Technick und Produktion<br>
                Dienstnummer:00467688<br>
                Mail: Walter&#64;schulster.de<br>
            </p>
        </div>
        <div class="cnchall">
            <img src="assets/img/consulting-4405260_640.jpg" alt="">
            <h2>CFO</h2>
            <p>
                Name: Fritz von Edelheim<br>
                Zuständig: Finanzen und Risiken<br>
                Dienstnummer:00467888<br>
                Mail: Fritz&#64;schulster.de<br>
            </p>
        </div>
    </div>
</div>