<div class="center">
    <h1>This is a Map of the Company</h1>
    <div class="Leaders">
        <img src="assets/img/man-8111987_640.png" alt="">
        <p>Click to see <b>Leading</b> Section</p>
    </div>
    <div class="centerHall">
        <div class="cnchall" [routerLink]="['/hall1']">
            <img src="assets/img/factory-148098_640.png" alt="">
            <p>Click to see <b>CNC-Hall-1</b> Section</p>
        </div>
        <div class="cnchall" [routerLink]="['/hall2']">
            <img src="assets/img/factory-42708_640.png" alt="">
            <p>Click to see <b>CNC-Hall-2</b> Section</p>
        </div>
        <div class="cnchall" [routerLink]="['/hall3']">
            <img src="assets/img/factory-154904_640.png" alt="">
            <p>Click to see <b>CNC-Hall-3</b> Section</p>
        </div>
    </div>
    <div class="cnchall" [routerLink]="['/hall3']">
        <img src="assets/img/factory-154904_640.png" alt="">
        <p>Click to see <b>CNC-Hall-3</b> Section</p>
    </div>
</div>