.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

h1 {
    font-size: 40px;
}

.secretary {
    margin-top: 100px;
    background-color: rgb(0, 0, 0, 0.18);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    p {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: start;
        font-size: 15px;
        color: white;
        gap: 5px;
    }

    h2 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 0px;
    }

    img {
        height: 200px;
        object-fit: contain;
        width: 250px;
    }
}

.Leaders {
    background-color: rgb(0, 0, 0, 0.18);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;

    p {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: start;
        font-size: 17px;
        color: white;
        gap: 5px;
    }

    h2 {
        font-size: 25px;
        text-align: center;
    }

    img {
        height: 300px;
        object-fit: contain;
        width: 400px;
    }
}

.centerOffice {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.office {
    background-color: rgb(0, 0, 0, 0.18);
    height: 150px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:hover {
        background-color: rgb(0, 0, 0, 0.1);
        cursor: pointer;
    }

    p {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        color: #7b1fa2;
    }

    img {
        height: 70px;
        object-fit: contain;
        width: 70px;
    }
}


.centerHall {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.cnchall {
    background-color: rgb(0, 0, 0, 0.18);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    p {
        text-align: start;
        font-size: 15px;
        font-weight: 500;
        color: white;
    }

    h2 {
        font-size: 25px;
        text-align: center;
    }

    img {
        height: 200px;
        object-fit: contain;
        width: 300px;
    }
}

.MaterialCamp {
    background-color: rgb(0, 0, 0, 0.18);
    height: 150px;
    width: 550px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:hover {
        background-color: rgb(0, 0, 0, 0.1);
        cursor: pointer;
    }

    p {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        color: #7b1fa2;
    }

    img {
        height: 170px;
        object-fit: contain;
        width: 170px;
    }
}


.position {
    display: flex;
    align-items: center;
}



@media(max-width:1200px) {
    .position {
        display: flex;
        flex-direction: column;
    }
    .centerHall{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:1000px) {
   .Leaders{
    flex-direction: column;
    margin-right: 0px;
    p {
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: start;
        font-size: 12px;
        color: white;
    }

    h2 {
        font-size: 25px;
        text-align: center;
    }
    img {
        height: 200px;
        object-fit: contain;
        width: 200px;
    }
   }

   .secretary{
    flex-direction: column;
    p {
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: start;
        font-size: 12px;
        color: white;
    }

    h2 {
        font-size: 25px;
        text-align: center;
    }
    img {
        height: 200px;
        object-fit: contain;
        width: 200px;
    }
   }
}