<div><input class="searchWork" type="text" placeholder="Search for Material name" [(ngModel)]="searchTerm" (input)="applySearchFilter()"></div>
<mat-card>
    <table class="userTable">
     <tr>
         <th>Company</th>
         <th>Number Rods</th>
         <th>Cost</th>
     </tr>
     <tr *ngFor="let camp of filteredMaterial"[routerLink]="camp.id" >
         <td>{{camp.supplier}}</td>
         <td>{{camp.numberOfRods}}</td>
         <td>{{camp.materialStandard}}</td>
     </tr>
    </table>
 </mat-card>
 
 <button (click)="openDialog()" class="buttonPosition" mat-mini-fab color="primary" matTooltip="Add user">
     <mat-icon>add</mat-icon>
 </button>
