<mat-drawer-container class="mattContainer" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="false" mode="side">
    <div class="logo-container">
      <img src="assets/img/4A28ff-LogoMakr.png" alt="">
    </div>
    <mat-icon class="menu , menuSmall" (click)="drawer.toggle()">menu</mat-icon>
    <ul class="list">
      <li (click)="innerWidth && drawer.toggle()" [routerLink]="['/']"><mat-icon>fact_check</mat-icon>Dashboard</li>
      <li (click)="innerWidth && drawer.toggle()" [routerLink]="['/user']"><mat-icon>perm_identity</mat-icon>Employee-Roster</li>
      <li (click)="innerWidth && drawer.toggle()" [routerLink]="['/assignments']"><mat-icon>question_answer</mat-icon>Map</li>
      <li (click)="innerWidth && drawer.toggle()" [routerLink]="['/camp']"><mat-icon>holiday_village </mat-icon>Material-Camp</li>
    </ul>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu" (click)="drawer.toggle()">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="routerContainer">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>