.mattContainer {
    height: 100vh;
}

.mattContainer {
    background-color: white;
}

.sidenav {
    width: 300px;
}

.logo-container {
    min-height: 56px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: bisque;
    img{
        object-fit: cover;
       
    }
}

.menu {
    cursor: pointer;
}

mat-drawer {
    background-color: #7b1fa2;
    border-right: 1px solid black;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.2);
}
mat-toolbar-row{
gap: 50px;
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;

    li {
        color: white;
        font-size: 20px;
        padding-left: 16px;
        padding-right: 16px;
        height: 80px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
            height: 20px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.12);
        }
        
    }
}

.routerContainer{
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
    color: black;
}