<h1>Halle-2</h1>
<div class="positionGroups">
    <div class="turn">
        <h2>CNC-Gruppe 1</h2>
        <div class="positionGroup1">
            <div class="cnc">
                Multideco 8 Spindel
            </div>
            <div class="cnc">
                Multideco 8 Spindel
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Multideco 8 Spindel
            </div>
            <div class="cnc">
                Multideco 8 Spindel
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Multideco 8 Spindel
            </div>
            <div class="cnc">
                Multideco 8 Spindel
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Multideco 8 Spindel
            </div>
            <div class="cnc">
                Multideco 8 Spindel
            </div>
        </div>
    </div>


    <div class="turn">
        <h2>CNC-Gruppe 2</h2>
        <div class="positionGroup1">
            <div class="cnc">
                Nakamura
            </div>
            <div class="cnc">
                Nakamura
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Nakamura
            </div>
            <div class="cnc">
                Nakamura
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Nakamura
            </div>
            <div class="cnc">
                Nakamura
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Nakamura
            </div>
            <div class="cnc">
                Nakamura
            </div>
        </div>
    </div>

    <div class="turn">
        <h2>CNC-Gruppe 3</h2>
        <div class="positionGroup1">
            <div class="cnc">
                Nakamura
            </div>
            <div class="cnc">
                Nakamura
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Nakamura
            </div>
            <div class="cnc">
                Nakamura
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Nakamura
            </div>
            <div class="cnc">
                Nakamura
            </div>
        </div>
        <div class="positionGroup1">
            <div class="cnc">
                Nakamura
            </div>
            <div class="cnc">
                Nakamura
            </div>
        </div>
    </div>

    <div class="dpf">
        <div class="cnchall">
            <img src="assets/img/men-4797307_640.jpg" alt="">
            <h2>Meister Halle-2</h2>
            <p>
                Name: Riko Mening<br>
                Zuständig: Halle-2<br>
                Dienstnummer:003555<br>
                Mail: Riko&#64;schulster.de<br>
            </p>
        </div>
        <div class="Text">
            <p>
                Hierbei handelt es sich um den Aufbau der halle in Vogel Perspektive so wie die Namen der Maschine und
                ihre Gruppen aufteilung
            </p>
        </div>
    </div>
</div>