<div><input class="searchWork" type="text" placeholder="Search for Position Or Name" [(ngModel)]="searchTerm" (input)="applySearchFilter()"></div>
<mat-card>
    <table class="userTable">
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Position</th>
    </tr>
    <tr *ngFor="let user of filteredUsers"[routerLink]="user.id" >
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.position}}</td>
    </tr>
   </table>
</mat-card>

<button (click)="openDialog()" class="buttonPosition" mat-mini-fab color="primary" matTooltip="Add user">
    <mat-icon>add</mat-icon>
</button>