<div class="width">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h2 mat-dialog-title>Add Material</h2>
    <mat-dialog-content>
        <form #userForm="ngForm" (ngSubmit)="save(userForm)">
            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Company</mat-label>
                    <input  name="Company" #Company="ngModel" [disabled]="loading" [(ngModel)]="camp.supplier" ngDefaultControl matInput
                        placeholder="Company" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" color="accent">
                    <mat-label>Item number</mat-label>
                    <input name="number" #number="ngModel" [disabled]="loading" [(ngModel)]="camp.itemNumber" ngDefaultControl matInput
                        placeholder="Item number" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Weight</mat-label>
                    <input  name="Weight" #Weight="ngModel" [disabled]="loading" [(ngModel)]="camp.weight" ngDefaultControl matInput placeholder="Weight"
                        required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Material Number</mat-label>
                    <input  name="Material" #Material="ngModel" [disabled]="loading" [(ngModel)]="camp.materialStandard" ngDefaultControl matInput
                        placeholder="Material Number" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>cost</mat-label>
                    <input name="cost" #cost="ngModel" [disabled]="loading" [(ngModel)]="camp.cost" ngDefaultControl matInput placeholder="cost"
                        required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Number of Order</mat-label>
                    <input name="Order" #Order="ngModel" [disabled]="loading" [(ngModel)]="camp.number" ngDefaultControl matInput
                        placeholder="Number of Order" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Number Of Rods</mat-label>
                    <input  name="Rods" #Rods="ngModel" [disabled]="loading" [(ngModel)]="camp.numberOfRods" ngDefaultControl matInput
                        placeholder="Number Of Rods" required>
                </mat-form-field>
            </div>
            <button mat-button [mat-dialog-close]="">Cancel</button>
            <button mat-button>Save</button>
        </form>
    </mat-dialog-content>
</div>