.cardSize {
    height: 100px;
    width: 150px;
    background-color: burlywood;
    font-size: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    text-align: center;
    border: 2px solid #7b1fa2;
    border-radius: 15px;
    
    img {
        position: absolute;
        bottom: 0;
        right: 17%;
        height: 60px;
        width: 100px;
        object-fit: contain;
    }
}

.container {
    margin-top: 30px;
    h2 {
        font-size: 18px;
    }
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.position {
    display: flex;
    align-items: center;
    gap: 150px;
}

.grapficContainer{
    width: 800px;
    height: 300px;
    border: 5px solid #7b1fa2;
    border-radius: 15px;
}