<div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h2 mat-dialog-title>Add user</h2>
    <mat-dialog-content>
        <form #userForm="ngForm" (ngSubmit)="save(userForm)">
            <div>
                <mat-form-field class="mr-16" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input name="firstName" #name="ngModel" minlength="3" [disabled]="loading" [(ngModel)]="user.firstName"
                        ngDefaultControl matInput placeholder="First name" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>last name</mat-label>
                    <input name="LastName" #name="ngModel" minlength="3" [disabled]="loading" [(ngModel)]="user.lastName"
                        ngDefaultControl matInput placeholder="last name" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" color="accent">
                    <mat-label>date of Birthday</mat-label>
                    <input name="date" minlength="8" #date="ngModel" [disabled]="loading" [(ngModel)]="birthdate" ngDefaultControl
                        matInput [matDatepicker]="picker2" required>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" color="accent">
                    <mat-label>date of issue</mat-label>
                    <input name="date" #date="ngModel" minlength="8" [disabled]="loading" [(ngModel)]="timeIssue" ngDefaultControl
                        matInput [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker color="primary"></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" color="accent">
                    <mat-label>E-Mail</mat-label>
                    <input  name="email" #email="ngModel" type="email" [disabled]="loading" [(ngModel)]="user.email" ngDefaultControl
                        matInput placeholder="E-Mail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Work-position</mat-label>
                    <input name="position" #workposition="ngModel" minlength="3" [disabled]="loading" [(ngModel)]="user.position" ngDefaultControl
                        matInput placeholder="position" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Salary-Year</mat-label>
                    <input name="salary" #salary="ngModel" [disabled]="loading" [(ngModel)]="user.salaryYear" ngDefaultControl
                        matInput placeholder="Salary" required>
                </mat-form-field>
            </div>


            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Phone-number</mat-label>
                    <input  name="number"  [disabled]="loading" minlength="7" [(ngModel)]="user.phoneNumber" ngDefaultControl matInput
                        placeholder="number">
                </mat-form-field>
            </div>


            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Insurrance-number</mat-label>
                    <input name="Insurrance" #Insurrance="ngModel" [disabled]="loading" [(ngModel)]="user.insurance" ngDefaultControl
                        matInput placeholder="Insurrance" required>
                </mat-form-field>
            </div>


            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Work-Place</mat-label>
                    <input name="Work" [disabled]="loading" minlength="3" #Place="ngModel" [(ngModel)]="user.workPlace" ngDefaultControl matInput
                        placeholder="workPlace" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="Full-width" appearance="outline">
                    <mat-label>Street + House No.</mat-label>
                    <input name="Street" #Street="ngModel" [disabled]="loading" [(ngModel)]="user.street" ngDefaultControl matInput
                        placeholder="Street + House No." required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="mr-16" appearance="outline">
                    <mat-label>Zip code</mat-label>
                    <input name="Zip" #Zip="ngModel" [disabled]="loading" [(ngModel)]="user.zipCode" ngDefaultControl matInput
                        placeholder="Zip code" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input name="City" #City="ngModel" [disabled]="loading" [(ngModel)]="user.city" ngDefaultControl matInput
                        placeholder="City" required>
                </mat-form-field>
            </div>
            <button mat-button [mat-dialog-close]="">Cancel</button>
            <button mat-button cdkFocusInitial>Save</button>
        </form>
    </mat-dialog-content>
</div>