html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16{
    margin-right: 16px;
    
}

.mt-32{
    margin-top: 32px;
    
}
.width100{
    width: 100%;
}
.Full-width{
    width: 100%;
}
.mat-drawer-content{
    background-color: bisque;
}


  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
  }