<h1>Office 2</h1>
<div class="bigPosition">

    <div class="position leading">

        <div class="cnchall">
            <img src="assets/img/entrepreneur-866662_640.jpg" alt="">
            <h2>Technick Manager</h2>
            <p>
                Name: Gustaf Frühaufsteher<br>
                Zuständig: Technik und Entwciklung<br>
                Dienstnummer:004675688<br>
                Mail: Gustaf&#64;schulster.de<br>
            </p>
        </div>


        <div class="cnchall">
            <img src="assets/img/smile-5047506_640.jpg" alt="">
            <h2>Auftrags Manager</h2>
            <p>
                Name: Dennis Breitenberg<br>
                Zuständig: Auftrags und Zeichnungs Verwaltung<br>
                Dienstnummer:003867888<br>
                Mail: Dennis&#64;schulster.de<br>
            </p>
        </div>

    </div>

    <div>
        <div class="büro2">
            <p>
                <b> Technische Zeichnungen </b>
            </p>
        </div>
        <div class="position">
            <div class="büro3">

                <b>Technik und Entwicklung</b>

            </div>
            <div class="büro1">
                <p>
                    <b>Auftrags Managment</b>
                </p>
            </div>
        </div>

    </div>

</div>
